.multicolumn .title {
    margin: 0;
  }
  
  .multicolumn.no-heading .title {
    display: none;
  }
  
  .multicolumn .title-wrapper-with-link {
    margin-top: 0;
  }
  
  @media screen and (max-width: 749px) {
    .multicolumn .title-wrapper-with-link {
      margin-bottom: 3rem;
    }
  
    .multicolumn .page-width {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .multicolumn-card__image-wrapper--third-width {
    width: 33%;
  }
  
  .multicolumn-card__image-wrapper--half-width {
    width: 50%;
  }
  
  .multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
  .multicolumn-list__item:only-child {
    margin-left: auto;
    margin-right: auto;
  }
  
  .multicolumn .button {
    margin-top: 1.5rem;
  }
  
  @media screen and (min-width: 750px) {
    .multicolumn .button {
      margin-top: 4rem;
    }
  }
  
  .multicolumn-list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  
  .multicolumn-list__item:only-child {
    max-width: 72rem;
  }
  
  .multicolumn-list__item--empty {
    display: none;
  }
  
  .multicolumn:not(.background-none) .multicolumn-card {
    background: rgb(var(--color-background));
    height: 100%;
  }
  
  .multicolumn.background-primary .multicolumn-card {
    background: #DCE1DB;
  }
  
  .multicolumn-list h3 {
    font-weight: 400;
  }
  
  .multicolumn-list h3,
  .multicolumn-list p {
    margin: 0;
  }
  
  .multicolumn-card-spacing {
    padding-top: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  
  .multicolumn-card__info > :nth-child(2) {
    margin-top: 1rem;
  }
  
  .multicolumn-list__item.center .media--adapt,
  .multicolumn-list__item .media--adapt .multicolumn-card__image {
    width: auto;
  }
  
  .multicolumn-list__item.center .media--adapt img {
    left: 50%;
    transform: translateX(-50%);
  }
  
  @media screen and (max-width: 749px) {
    .multicolumn-list {
      margin: 0;
      width: 100%;
    }
  
    .multicolumn-list:not(.slider) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  
  @media screen and (min-width: 750px) {
    .multicolumn-list.slider,
    .multicolumn-list.grid--4-col-desktop {
      padding: 0;
    }
  
    .multicolumn-list__item,
    .grid--4-col-desktop .multicolumn-list__item {
      padding-bottom: 0;
    }
  
    .background-none .grid--2-col-tablet .multicolumn-list__item {
      margin-top: 4rem;
    }
  }
  
  .background-none .multicolumn-card-spacing {
    padding: 0;
    margin: 0;
  }
  
  .multicolumn-card__info {
    padding: 2.5rem;
  }
  
  .background-none .multicolumn-card__info {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 0;
  }
  
  .background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
    padding-top: 2.5rem;
  }
  
  .background-none .slider .multicolumn-card__info {
    padding-left: 0.5rem;
  }
  
  .background-none .slider .multicolumn-card__image-wrapper + .multicolumn-card__info {
    padding-left: 1.5rem;
  }
  
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  
  @media screen and (max-width: 749px) {
    .background-none .slider .multicolumn-card__info {
      padding-bottom: 1rem;
    }
  
    .multicolumn.background-none .slider.slider--mobile {
      margin-bottom: 0rem;
    }
  }
  
  @media screen and (min-width: 750px) {
    .background-none .multicolumn-card__image-wrapper {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  
    .background-none .multicolumn-list .multicolumn-card__info,
    .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  
  .multicolumn-card {
    position: relative;
    box-sizing: border-box;
  }
  
  .multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
    border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
    border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
    overflow: hidden;
  }
  
  .multicolumn.background-none .multicolumn-card {
    border-radius: 0;
  }
  
  .multicolumn-card__info .link {
    text-decoration: none;
    font-size: inherit;
    margin-top: 1.5rem;
  }
  
  .multicolumn-card__info .icon-wrap {
    margin-left: 0.8rem;
    white-space: nowrap;
  }
  
  @media screen and (min-width: 990px) {
    .multicolumn-list__item--empty {
      display: list-item;
    }
  }
  
  .button {
    padding: 16px 32px;
    border-radius: 70px; }
    .button::before, .button::after {
      border-radius: 70px; }
    @media (max-width: 1000px) {
      .button {
        padding: 14px 24px !important;
        font-size: 18px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 120% !important; } }
    @media (max-width: 1000px) {
      .button.button--secondary {
        border: 1px solid #fff; }
        .button.button--secondary::after {
          box-shadow: none; } }
  
  @media (min-width: 1000px) {
    .hidden-desktop {
      display: none !important; } }
  
  @media (max-width: 1000px) {
    .hidden-mobile {
      display: none !important; } }
  
  .hidden-all {
    display: none !important; }
  
  main {
    overflow-x: hidden; }
  
  @media (max-width: 767px) {
    .multicolumn.multicolumn--type1 .page-width {
      padding-top: 0px !important;
      padding-bottom: 42px !important; } }
  
  @media (max-width: 767px) {
    .multicolumn.multicolumn--type1 .page-width .grid {
      padding-right: 65px;
      scroll-padding-left: 20px; } }
  
  @media (max-width: 767px) {
    .multicolumn.multicolumn--type1 .page-width .grid .grid__item:first-of-type {
      margin-left: 20px; } }
  
  .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info {
    padding: 44px 40px 60px; }
    @media (max-width: 767px) {
      .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info {
        padding: 20px 24px 24px; } }
    .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 80px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #9EFF00; }
      @media (max-width: 767px) {
        .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .icon {
          margin: 0 0 38px;
          width: 50px;
          height: 50px; } }
      .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .icon .icon__svg {
        width: 48px;
        height: 48px; }
        @media (max-width: 767px) {
          .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .icon .icon__svg {
            width: 30px;
            height: 30px; } }
        .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .icon .icon__svg svg {
          width: inherit;
          height: inherit; }
    .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .inline-richtext {
      display: block;
      margin: 0 0 20px;
      color: #000;
      font-size: 35.95px;
      font-style: normal;
      font-weight: 700;
      line-height: 39.944px;
      letter-spacing: -0.36px; }
      @media (max-width: 767px) {
        .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .inline-richtext {
          margin: 0 0 16px;
          font-size: 24px;
          line-height: 28px; } }
    .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .rte {
      display: block;
      margin: 0 0 0;
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; }
      @media (max-width: 767px) {
        .multicolumn.multicolumn--type1 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .rte {
          font-size: 18px;
          line-height: 120%; } }
  
  @media (max-width: 767px) {
    .multicolumn.multicolumn--type1 .page-width .center {
      display: block !important; } }
  
  .multicolumn.multicolumn--type1 .page-width .center .button {
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%; }
    @media (max-width: 767px) {
      .multicolumn.multicolumn--type1 .page-width .center .button {
        margin-top: 20px; } }
  
  .multicolumn.multicolumn--type1 .page-width .slider-buttons {
    display: none; }
  
  @media (max-width: 767px) {
    .multicolumn.multicolumn--type2 .page-width {
      padding-top: 42px !important;
      padding-bottom: 75px !important; } }
  
  .multicolumn.multicolumn--type2 .title-wrapper-with-link {
    text-align: center;
    margin: 0; }
    .multicolumn.multicolumn--type2 .title-wrapper-with-link .title {
      display: block;
      margin: 0 auto 60px;
      width: 100%;
      color: #000;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: -0.75px; }
      @media (max-width: 767px) {
        .multicolumn.multicolumn--type2 .title-wrapper-with-link .title {
          font-size: 40px;
          line-height: 40px;
          letter-spacing: -0.6px; } }
  
  .multicolumn.multicolumn--type2 .section__text {
    display: block;
    margin: 0 auto 94px;
    max-width: 670px;
    color: #000;
    text-align: center;
    font-size: 27.961px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.956px; }
    @media (max-width: 767px) {
      .multicolumn.multicolumn--type2 .section__text {
        font-size: 18px;
        line-height: 120%;
        margin: 0 auto 30px; } }
  
  .multicolumn.multicolumn--type2 .grid {
    padding: 0 70px;
    /* column-gap: 135px; */
  }
    @media (max-width: 1270px) {
      .multicolumn.multicolumn--type2 .grid {
        /* column-gap: 100px; */
        padding: 0 0px; } }
    @media (max-width: 1000px) {
      .multicolumn.multicolumn--type2 .grid {
        /* column-gap: 48px;  */
      } }
    @media (max-width: 767px) {
      .multicolumn.multicolumn--type2 .grid {
        padding-right: 125px;
        column-gap: 10px;
        scroll-padding-left: 20px; } }
    .multicolumn.multicolumn--type2 .grid .grid__item {
      width: calc(33.33% - 100px); }
      @media (max-width: 1270px) {
        .multicolumn.multicolumn--type2 .grid .grid__item {
          width: calc(33.33% - 100px); } }
      @media (max-width: 1000px) {
        .multicolumn.multicolumn--type2 .grid .grid__item {
          width: calc(33.33% - 48px); } }
      @media (max-width: 767px) {
        .multicolumn.multicolumn--type2 .grid .grid__item {
          width: calc(100% - var(--grid-mobile-horizontal-spacing) - 3rem); } }
    @media (max-width: 767px) and (max-width: 767px) {
      .multicolumn.multicolumn--type2 .grid .grid__item:first-of-type {
        margin-left: 20px; } }
      .multicolumn.multicolumn--type2 .grid .grid__item .multicolumn-card .multicolumn-card__image-wrapper {
        margin: 0; }
      .multicolumn.multicolumn--type2 .grid .grid__item .multicolumn-card .multicolumn-card__info {
        padding: 35px 0 0; }
        .multicolumn.multicolumn--type2 .grid .grid__item .multicolumn-card .multicolumn-card__info .inline-richtext {
          display: block;
          margin: 0 auto 12px;
          color: #000;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; }
          @media (max-width: 767px) {
            .multicolumn.multicolumn--type2 .grid .grid__item .multicolumn-card .multicolumn-card__info .inline-richtext {
              font-size: 18px;
              line-height: 120%; } }
        .multicolumn.multicolumn--type2 .grid .grid__item .multicolumn-card .multicolumn-card__info .rte {
          display: block;
          margin: 0 auto 0;
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: -0.16px; }
          @media (max-width: 767px) {
            .multicolumn.multicolumn--type2 .grid .grid__item .multicolumn-card .multicolumn-card__info .rte {
              font-size: 12px;
              line-height: 15px;
              letter-spacing: -0.12px; } }
          .multicolumn.multicolumn--type2 .grid .grid__item .multicolumn-card .multicolumn-card__info .rte p {
            color: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            line-height: inherit;
            letter-spacing: inherit; }
  
  .multicolumn.multicolumn--type2 .slider-buttons {
    display: none; }
  
  @media (max-width: 767px) {
    .multicolumn.multicolumn--type3 .page-width {
      padding-top: 68px !important;
      padding-bottom: 68px !important; } }
  
  .multicolumn.multicolumn--type3 .page-width .title-wrapper-with-link {
    text-align: center;
    margin: 0; }
    @media (max-width: 1000px) {
      .multicolumn.multicolumn--type3 .page-width .title-wrapper-with-link {
        padding-left: 40px;
        padding-right: 40px; } }
    .multicolumn.multicolumn--type3 .page-width .title-wrapper-with-link .title {
      display: block;
      margin: 0 auto 24px;
      width: 100%;
      color: #000;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: -0.75px; }
      @media (max-width: 767px) {
        .multicolumn.multicolumn--type3 .page-width .title-wrapper-with-link .title {
          font-size: 40px;
          line-height: 40px;
          letter-spacing: -0.6px; } }
    .multicolumn.multicolumn--type3 .page-width .title-wrapper-with-link .link {
      display: none; }
  
  .multicolumn.multicolumn--type3 .page-width .section__text {
    display: block;
    margin: 0 auto 40px;
    max-width: 670px;
    color: #000;
    text-align: center;
    font-size: 27.961px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.956px; }
    @media (max-width: 1000px) {
      .multicolumn.multicolumn--type3 .page-width .section__text {
        padding-left: 40px;
        padding-right: 40px; } }
    @media (max-width: 767px) {
      .multicolumn.multicolumn--type3 .page-width .section__text {
        font-size: 18px;
        line-height: 120%;
        margin: 0 auto 30px; } }
  
  @media (max-width: 767px) {
    .multicolumn.multicolumn--type3 .page-width .grid {
      padding-top: 13px;
      padding-right: 65px;
      scroll-padding-left: 20px; } }
  
  @media (max-width: 767px) {
    .multicolumn.multicolumn--type3 .page-width .grid .grid__item:first-of-type {
      margin-left: 20px; } }
  
  .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card {
    background-color: #fff;
    border: 2px solid #63DF5F; }
    .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info {
      padding: 44px 40px 65px;
      position: relative;
      height: inherit; }
      @media (max-width: 767px) {
        .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info {
          padding: 36px 24px 60px; } }
      .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .multicolumn-card__caption {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 40px;
        top: -13px;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.16px;
        padding: 2px 7px;
        min-height: 26px;
        background-color: #9EFF00;
        text-align: center; }
      .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .inline-richtext {
        display: block;
        margin: 0 0 60px;
        color: #000;
        font-size: 15.978px;
        font-style: normal;
        font-weight: 400;
        line-height: 17.975px;
        letter-spacing: -0.16px; }
        @media (max-width: 767px) {
          .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .inline-richtext {
            font-size: 14px;
            line-height: 110%; } }
      .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .rte {
        display: block;
        margin: 0 0 10px;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        min-height: 115px; }
        @media (max-width: 767px) {
          .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .rte {
            min-height: 176px; } }
        .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .rte p {
          color: inherit;
          font-size: inherit;
          font-style: inherit;
          font-weight: inherit;
          line-height: inherit; }
        @media (max-width: 767px) {
          .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .rte {
            font-size: 18px;
            line-height: 120%; } }
      .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .link {
        position: absolute;
        left: 40px;
        bottom: 35px;
        /* display: flex; */
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.16px; }
        @media (max-width: 767px) {
          .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .link {
            font-size: 14px;
            line-height: 16px;
            left: 24px;
            bottom: 30px; } }
        .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .link .icon-wrap {
          margin-left: 5px;
          width: 12px;
          height: 12px; }
          .multicolumn.multicolumn--type3 .page-width .grid .grid__item .multicolumn-card .multicolumn-card__info .link .icon-wrap svg {
            width: inherit;
            height: inherit; }
  
  
  
  .multicolumn.multicolumn--type3 .page-width .center .button {
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%; }
    @media (max-width: 767px) {
      .multicolumn.multicolumn--type3 .page-width .center .button {
        margin-top: 20px; } }
  
  .multicolumn.multicolumn--type3 .page-width .slider-buttons {
    display: none; }
  
  
    @media (min-width: 767px) {
      .cd-hide { 
        display: none; 
      } 
    }
  